/cpw/*
/ibxm/*
/net/*
/run/
/paulscode/*
/fml_at.cfg
/fml_marker.cfg
/fmlversion.properties
/forge_at.cfg
/forge_logo.png
/mcp.png
/mcpmod.info
/Start.java

/.gradle/*
/gradle/wrapper/*
gradlew
/libs/*.jar
/.settings
/bin/
/build/
/eclipse

/.classpath
/.project
*.txt
*.bat
*.sh
*.lzma
*.launch
run/logs/latest.log
run/config/TinkerModules.cfg
run/config/splash.properties
